body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
}
.navbar {
    background:#a9a9a9 ;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    padding: 10;
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}

.header {
    background-image: url('images/header-background.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
}
.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(255, 255, 255, 0.6);
}
.menu{
	background-color: #a9a9a9;
	height: 40px;  

}

.top-buttons {
    display: block;
    text-align: center;
    padding: -20px;
    background:#ffffff;
    border-radius: 0;
    color:#fff;
}
.top-buttons:hover {
	border:1px solid #fff;
    background:#fff;
    color:#000;
}
.navbar-second {
    text-align: center;
}
.form {
   text-align: right; 
}

.features {
	margin: 4em auto;
	padding: 1em;
	position: relative;
}
.feature-title {
	color: #333;
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
}
.features img {
    width: 600px;
    height: 300px;
	-webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
	margin-bottom: 16px;
}


.restaurant-banner {
    position: relative;
    width: 100%;
  }
  
  /* Make the image responsive */
  .restaurant-banner img {
    width: 100%;
    height: auto;
  }


.restaurant-banner .btn {
    font-style: italic;
    font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 20px;
	text-transform: uppercase;
    width: 150px;
    height: 75px;
    position: absolute;
    top: 50%;
    left: 48%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 12px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }

  .restaurant-banner .rest {
    font-style: italic;
    font-size: 1.3rem;
	font-weight: 1200;
	margin-bottom: 20px;
	text-transform: uppercase;
    width: 150px;
    height: 75px;
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    color: white;
    font-size: 26px;
    padding: 26px 26px;
    border: #333;
    cursor: pointer;
    border-radius: 5px;
  }







  
  .restaurant-banner .btn:hover {
    background-color: #333;
  }
